* {
  -webkit-tap-highlight-color: transparent;
}

body{
  margin: 0;
  padding: 0 15%;
  position: relative;

  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.dark {
  color: #fff;
  background: #222;
}

header {
  border-bottom: 2px solid #474747;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#searchINP, #searchBTN {
  padding: 10px;
  background: #eceaf4;
  border: none;
  outline: none;
}


  
ul {
  padding: 0;
  padding-left: 2vw;
  line-height: 2;
  list-style-type: circle;
}

.hide {
  display: none;
}

footer {
  padding: 0 5px;
  font-size: 0.7rem;
}

#upBTN {
  padding: 0;
  width: 40px; height: 40px;
  font-size: 25px;

  border: none;
  outline: none;
  background-color: #91919191;

  z-index: 10;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}


@media screen and (max-width: 750px) {
  body{
    padding: 0;
  }

  .search, h2 {
    padding: 0 3vw;
  }

  #searchINP {
    width: calc(100% - 70px);
  }

  #searchBTN {
    width: 60px;
    position: absolute;
    right: 3vw;
  }

  ul {
    padding-left: 10%;
  }
}